@import '../../../assets/styles/variables.scss';

.label {
    font-size: 1.4em;
    padding-left: .5rem;
    font-weight: 300;
    opacity: 0;
    
    &.error {
        color: $color-red-dark;
    }

    &.visible {
        opacity: 1;
    }
}
