@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.link-wrapper {
    @include flex-center;

    &:not(:last-child) {
        margin-right: 2.5rem;
    }
    
    .link {
        text-decoration: none;
        
        .label {
            font-size:1.8em;
            line-height: 3rem;
            font-weight: 400;
            color: $text-3;
            text-transform: uppercase;
        }

        &:hover {
            .label {
                color: $text-4;
            }
        }

        &.active {
            .label {
                color: $text-5;
                transform: scale(1.04);
            }
        }
    }
}
  