@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.logo-wrapper {
    font-size: 1rem;
    @include flex-center;
    @include set-dimensions(5.5rem, 5.5rem);
    border: .2rem solid $color-blue-dark;
    border-radius: 50%;
    cursor: pointer;

    .text {
        font-size: 4.5em;
        line-height: 5rem;
        font-weight: 400;
        color: $color-blue-dark;
    }
}
