@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.buildings-container {
    position: relative;
    font-size: 1rem;
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 60rem;

    .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include flex-center;
        font-size: 4em;
        color: $text-2;
    }

    .actions-container {
        @include flex-center;
        @include set-dimensions(100%, 5rem);
        margin-bottom: 2rem;
    }

    .table-container {
        position: relative;
        display: flex;
        width: 100%;
        flex: 1;
        padding: .5rem;
        box-shadow: $shadow-all-sides;
        border-radius: 1rem;
        background: transparent;
        overflow: hidden;
    }
}
