@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.haeder-row {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin: 0 1rem .2rem 1rem;
    padding: 1.5rem 1rem 1rem 1rem;
    border-bottom: 1px solid $text-1;

    .haeder-cell {
        @include flex-center;
        flex: 1;
        text-align: center;

        &.name {
            justify-content: flex-start;
    
            .label {
                margin-left: 2rem;

            }
        }

        &.logo {
            max-width: 10%;
        }

        &.area {
            max-width: 15%;
        }

        &.id {
            max-width: 15%;

            .label {
                font-size: 1.2em;
            }
        }

        &:not(:last-child) {
            border-right: 1px solid $text-1;
        }

        .label {
            font-size: 1.4em;
            font-weight: 400;
            line-height: 1.2rem;
            color: $text-3;
            text-transform: uppercase;
        }
    }
}
