@import '../../assets/styles/variables.scss';
@import '../../assets/styles/animations.scss';
@import '../../assets/styles/mixins.scss';

.home-container {
    font-size: 1rem;
    @include flex-center;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin-top: -1rem;
    
    .image {
        width: 66rem;
    }

    .title-box {
        position: relative;

        .title {
            &:hover {
                p {
                    color: $text-5;
                }
            }

            p {
                font-size: 11em;
                line-height: 12rem;
                font-weight: 700;
                color: $text-5;
                text-transform: uppercase;
                margin: 3rem 0 2rem 0;
                cursor: pointer;
            }
        }

        .icon {
            position: absolute;
            bottom: -10rem;
            right: -12rem;
            animation: 3s ease-out infinite finger-click;
            
            svg {
                transform: rotate(45deg);
            }
        }
    }

    .description {
        font-size: 2.7em;
        line-height: 3rem;
        font-weight: 400;
        font-style: italic;
        color: $text-4;
    }
}
