@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.main-layout {
    font-size: 1rem;
    @include flex-center;
    flex: 1;
    width: 100%;
    max-width: 130rem;
    padding: 0 2rem;
    margin: 0 auto;
}
