@import '../../assets/styles/variables.scss';

.header {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 7rem;
    padding: .5rem;
    border-bottom: 1px solid $background-light-2;

    .welcome-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        margin-left: 3rem;

        .title {
            font-size: 4em;
            line-height: 4.5rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color-blue-dark;
        }

        .user-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 1rem;

            .name {
                font-size: 2em;
                line-height: 2.5rem;
                font-weight: 300;
                text-transform: uppercase;
                color: $text-4;
                margin-right: 1rem;
            }

            .avatar {
                width: 5rem;
                height: 5rem;
            }
        }
    }
}
