@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.single-selection-container {
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    width: 35%;
    padding: 1rem;
    border-left: 2px solid $text-2;
    margin: 1rem 0 1rem 1rem;

    .avatar {
        width: 6rem;
        height: 6rem;
        background: $color-white;
        border-radius: 50%;
        box-shadow: $shadow-all-sides;
        margin-right: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include set-dimensions(100%, 100%);

        .inputs-container {
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            @include set-dimensions(100%, 100%);
            margin-bottom: 1rem;
        
            .inputs {
                margin-bottom: 3rem;
            }
        
            .actions {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 0 1rem;
                cursor: pointer;
                width: 12rem;
                margin: 0 0 0 auto;
        
                &:hover {
                    .label,
                    .icon {
                        color: $text-4;
                    }
                }
        
                .label {
                    font-size: 1.9rem;
                    font-weight: 400;
                    color: $text-2;
                    margin-left: .5rem;
                    text-transform: uppercase;
                }
        
                .icon {
                    @include set-dimensions(2.2rem, 2.2rem);
                    color: $text-2;
                    cursor: pointer;
                }
            }
    
            .delete-message {
                @include flex-center;
                flex-direction: column;
                width: 30rem;
                padding: 2rem 1rem;
                margin-left: auto;
                background: $background-light-1;
                box-shadow: $shadow-all-sides;
                border-radius: 1rem;
    
                .delete-text {
                    font-size: 1.3em;
                    font-weight: 600;
                    color: $text-4;
                    margin-bottom: 2rem;
                }
    
                .action-buttons {
                    display: flex;
                    align-items: center;
            
                    .btn-save,
                    .btn-cancel {
                        font-size: 1.3em;
                        font-weight: 600;
                        text-transform: uppercase;
                        padding: .5rem;
                        border-bottom: 1px solid transparent;
                        border-radius: .2rem;
                        cursor: pointer;
            
                        &:hover {
                            border-bottom-color: currentColor;
                        }
                    }
            
                    .btn-save {
                        margin-right: 1rem;
                        color: $color-red-light;
                    }
            
                    .btn-cancel {
                        color: $text-3;
                    }
                }
            }

            .add-record-inputs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
            }
        }

        .btn-box {
            padding-top: 3rem;
            border-top: 1px solid $text-1;

            &.disabled {
                .add-record-actions {
                    .btn-add {
                        color: $text-1;
                        cursor: not-allowed;
                        pointer-events: all !important;
                    }
                }
            }

            .add-record-actions {
                @include flex-center;
        
                .btn-add,
                .btn-cancel {
                    font-size: 1.8em;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: .5rem;
                    border-bottom: 1px solid transparent;
                    border-radius: .2rem;
                    cursor: pointer;
        
                    &:hover {
                        border-bottom-color: currentColor;
                    }
                }
        
                .btn-add {
                    margin-right: 1rem;
                    color: $text-4;
                }
        
                .btn-cancel {
                    color: $text-2;
                }
            }
        }
    }
}
