@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.button-wrapper {
    font-size: 1rem;
    @include flex-center;
    @include set-dimensions(100%, 5rem);
    border-radius: 1rem;
    padding-right: .5rem;
    background: $color-red-dark;
    cursor: pointer;
    box-shadow: $shadow-ligth;
    transition: all .1s;

    &:hover {
        background-color: $color-red-light; 
    }

    &:active {
        transform: scale(1.02); 
    }

    .icon-add {
        @include set-dimensions(3rem, 3rem);
        color: $color-white;
        margin-right: 1rem;
    }

    .label {
        font-size: 1.3em;
        line-height: 2.3rem;
        color: $color-white;
        text-transform: uppercase;
    }
}
