@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.table-box {
    font-size: 1rem;
    flex: 1;

    &:hover {
        .list {            
            &::-webkit-scrollbar-thumb {
                background-color: $text-1; 
            }
        }
    }

    .list {
        max-height: 50rem;
        overflow-x: scroll;
        scrollbar-color: transparent transparent;
        
        &::-webkit-scrollbar {
            width: .3rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent; 
        }

        .no-records {
            @include flex-center;
            @include set-dimensions(100%, 50rem);
            font-size: 3em;
            font-weight: 600;
            color: $text-2;
        }
    }
}
