@import '../../assets/styles/variables.scss';

.footer {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 2rem;
    border-top: 1px solid $background-light-2;

    .navigation {
        display: flex;
    }

    .copyright {
        font-size: 1.3em;
        line-height: 1.5rem;
        font-weight: 300;
        color: $text-3;
    }
}
