@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.table-row {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0 1rem 0 2rem;
    background: $text-1;
    border-radius: 1rem;
    height: 6rem;
    cursor: pointer;

    &:hover {
        background: $background-light-2;
    }

    &.selected {
        background: $text-2;
    }

    .avatar {
        width: 4rem;
        height: 4rem;
        background: $color-white;
        border-radius: 50%;
        box-shadow: $shadow-all-sides;
    }

    .table-cell {
        @include flex-center;
        flex: 1;
        text-align: center;

        &.name {
            justify-content: flex-start;
            margin-left: 3rem;
            
            .label {
                margin-left: 2rem;
            }
        }

        &.logo {
            max-width: 10%;
        }

        &.area {
            max-width: 15%;
        }

        &.id {
            max-width: 15%;
        }

        &:not(:last-child) {
            border-right: 1px solid $background-light-1;
        }

        .label {
            font-size: 1.4em;
            font-weight: 400;
            line-height: 1.2rem;
            color: $text-5;
            text-transform: uppercase;
        }
    }
}
