@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.input-container {
    display: flex;
    flex-direction: column;
    border: .1rem solid transparent;
    padding: 1rem;
    border-radius: .5rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &.editable {
        border-color: $color-blue-light;

        .input-box-wrapper {
            .icon-edit {
                display: none;
            }
        }
    }

    .input-box-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        .input-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 2rem;
    
            .label {
                font-size: 1.2em;
                font-weight: 300;
                color: $color-red-light;
            }
        
            .input {
                font-size: 1.5em;
                font-weight: 400;
                color: $text-4;
                height: 3rem;
                padding: 0 .5rem;
                cursor: text;
                border: none;
                border-bottom: 1px solid $text-1;
                background: transparent;
            }
        
            .input::placeholder {
                color: $text-1;
                font-weight: 300;
            }
              
            .input:focus {
                outline: none;
            }
        }
    
        .icon-edit {
            @include set-dimensions(2rem, 2rem);
            color: $text-2;
            cursor: pointer;
            opacity: 1;
    
            &:hover {
                color: $text-4;
            }
    
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    .action-buttons {
        display: flex;
        align-items: center;

        .btn-save,
        .btn-cancel {
            font-size: 1.4em;
            font-weight: 600;
            text-transform: uppercase;
            padding: .5rem;
            border-bottom: 1px solid transparent;
            border-radius: .2rem;
            cursor: pointer;

            &:hover {
                border-bottom-color: currentColor;
            }
        }

        .btn-save {
            margin-right: 1rem;
            color: $text-4;
        }

        .btn-cancel {
            color: $text-2;
        }
    }
}
