@keyframes finger-click {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    50% {
        transform: translate(-5rem, -5rem);
        opacity: .6;
    }
    100% {
        transform: translate(-10rem, -10rem);
        opacity: 1;
    }
}