$background-1: #363945;
$background-light-1: #f7f7f7;
$background-light-2: #bcbcbc;

$text-1: #cdcdcd;
$text-2: #a4a9ba;
$text-3: #62687a;
$text-4: #494e5c;
$text-5: #2b2e36;

$color-white: #fff;
$color-blue-light: #8fa6c7;
$color-blue-dark: #4a6995;
$color-red-light: #e55039;
$color-red-dark: #df371d;

$shadow-ligth: 0 .4rem .4rem rgba(0, 0, 0, 0.2);
$shadow-all-sides: 0 .1rem 1rem 0 rgba(0, 0, 0, 0.15)
